@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  position: relative;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;

  flex-direction: row;

  height: 100vh;
  /* background-image: url('/image.jpg'); */
  background: linear-gradient(
      0deg,
      rgb(127, 255, 187, 0.5),
      rgb(130, 255, 187, 0.5)
    ),
    url("image/back.jpg");
  z-index: 2;
}

.card {
  height: 250px;
  width: 200px;
  background-color: white;
  transition: transform 0.5s, box-shadow 0.2s;
  text-align: center;
  /* box-shadow: 5px 5px 8px green; */
  margin: 0px 10px;
  padding: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.6);
}
img {
  width: 80px;
  height: 80px;
}
.title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.text-font {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
